.house_container {
    background-color: #DEDEDE;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    font-size: 9pt;
    text-align: left;
}

.delete_btn {
    width: 10px;
    height: 14px;
}